h1 {
	margin: 0 0 10px 0;
}

.main-header {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	tool-bar button {
		width: 45px;
	}
}

#AddWord {
	width: 100%;

	input,
	button {
		vertical-align: bottom;
	}

	input {
		width: calc( 100% - 71px );
	}

	button {
		display: inline-flex;
		align-items: baseline;
		justify-content: center;

		width: 30px;

		line-height: 17px;
		font-size: 25px;
		font-weight: bold;

		&[disabled] {
			color: gray;
		}
	}
}

checked-word-tools {
	visibility: hidden;

	margin-top: 10px;
	&.active {
		visibility: visible;
	}
}
