main {
	display: flex;
	flex-flow: row nowrap;

	overflow-x: scroll;
}

word-list {
	display: flex;
	flex-direction: column;

	min-width: 200px;
	max-height: 100%;
	overflow-x: hidden;
	padding: 0 20px;

	h2 {
		width: 100%;
		margin-top: 0;
		margin-bottom: 15px;

		white-space: nowrap;
		font-size: 24px;

		cursor: pointer;
	}

	ul {
		position: relative;
		flex: 1 1 auto;

		overflow-y: scroll;
	}

	ul,
	li {
		margin: 0;
		padding: 0;

		list-style: none;
	}

	li {
		position: relative;

		min-height: 1.6em;

		line-height: 1.6em;

		&[data-fave="1"] {
			color: $yellow;
			the-word::before {
				margin-right: 5px;

				content: "⭐️";
			}
		}

		&.checked,
		&.active {
			user-select: none;
		}

		&.checked::before {
			content: attr(data-hand);
		}
	}

	tool-bar {
		display: none;
		position: fixed;

		padding: 1px;

		border-radius: 3px;

		transition: left .25s ease-out;
		button {
			width: auto;
			height: auto;
			padding: 13px;

			background: rgba(black, 0.8);
			border-radius: 70px;

			line-height: 1;
			font-size: 30px;
		}
	}

}

.active > dialog tool-bar {
	display: flex;
	z-index: 1000;
}

a-word {
	color: $light;
}

the-word {
	cursor: pointer;

	transition: background-color 0.15s, color 0.15s;

	.checked &,
	&.new {
		padding: 2px 5px 1px;

		color: $dark;
		background: $yellow;
		border-radius: 3px;
	}

	&.deja-la {
		padding: 2px 5px 1px;

		color: $light;
		background: $red;
		border-radius: 3px;
	}
}

#TagFormDialog {
	ul,
	li {
		margin: 0;
		padding: 0;
	}

	ul {
		display: flex;
		flex-wrap: wrap;

		margin: 10px 0 20px;
	}

	li {
		display: inline;

		margin: 5px 15px;

		list-style: none;
	}

	label {
		white-space: nowrap;

		cursor: pointer;
	}

	input[type="text"] {
		margin-bottom: 0;
	}

	input[type="checkbox"] {
		height: auto;
		margin: 0;

		vertical-align: bottom;
	}
}

.cunt {
	display: flex;
	position: fixed;
	z-index: 10000000;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	padding: 2px;

	color: $light;
	background: $dark;

	text-align: center;
}
